/* $$$$$$$$$$$$$$$$$$$$$$ */
/* Your colors, gentlemen */
/* $$$$$$$$$$$$$$$$$$$$$$ 

[first screen]
brick		#c0392b
green		#2ecc71
black		opacity 90%

[second screen]
purple		#180f26
yellow2		#c2bb00
shadow2		#0d0717

[third screen]
yellow3		#ffa200
turquoise	#00938e
shadow3		#845400

[fourth screen]
blue		#01a8ff
orange		#ff9000
buttons		#0082c5
shadow4		#006294
popupUp		#0097e5
popupBody	#64caff
popupButton	#0074b0

[fifth screen]
pink		#cd0145
green		#14e76d
footer		#b5003c */

/* $$$$$$$$$$$$$ */
/* End of colors */
/* $$$$$$$$$$$$$ */

/* Our font */

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* End of font */

.hidden {
	display: none;
}

body, html {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

div {
	padding: 0;
	margin: 0;
}

#container {
	width: 100%;
	position: relative;
}

#leftColumn {
	width: 50%;
	position: absolute;
}

#rightColumn {
	right: 0px;
	width: 51%;
	position: fixed;
}

.slide {
	clear: both;
	float: left;
	width: 100%;
	height: 100%;
	overflow-y: hidden !important;
	display: table;
	position: relative;
	top: 0;
}

/* slide content centering logic */
/* nest inner in middle and all
   things in inner will be 
   centered */

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
    top: -50%;
    position: relative;
    text-align: center;
}
/* logic in css - haha */

h1, h2, h3 {
	font-family: 'Bebas Neue', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}
p {
	font-family: 'Arimo', sans-serif;
	text-align: left;
}

.fwd {
	position: fixed;
	bottom: 0px;
	z-index: 100;
	width: 146px;
	cursor: pointer;
}
.fwd p {
	text-align: center;
	font-family: 'Arimo';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	margin: 5px;
	color: #2ecc71;
}
.triangle {
	width: 0; 
	height: 0; 
	border-left: 73px solid transparent;
	border-right: 73px solid transparent;
	border-top: 67px solid #2ecc71;
	cursor: pointer;
}
.arrow {
	width: 48px;
	height: 33px;
	position: relative;
	top: -45px;
	left: -24px;
	background-image: url('../img/puscica1.png');
}
/*.triangle-small {
	width: 0; 
	height: 0; 
	border-left: 73px solid transparent;
	border-right: 73px solid transparent;
	border-top: 67px solid #f00;
}*/

/* slide one */

.slide.one {
	background-color: #c0392b;
}

.slide.one.left .box {
	z-index: 100;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding-left: 15%;
}
.slide.one.left .box h1 {
	font-size: 5em;
	color: #2ecc71;
	height: 280px;
}
.slide.one.left .box h1 span {
	color: rgba(0, 0, 0, 0.9);
}
.slide.one.left .box a {
	color: #000000;
}
.slide.one.left .box a h2 {
	font-family: 'Arimo';
	text-transform: none;
	text-align: right;
	margin-top: 10px;
	font-size: 24px;
	cursor: pointer;
}
.linkic {
	display: inline-block;
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #000000;
	top: -3px;
	border: 2px solid #000000;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
.linkic i {
	font-size: 22px;
	color: #c0392b;
	position: relative;
	font-weight: 400;
	top: 2px;
	left: -1px;
}

/* linkic icon animation */

.linkic.trans {
	background-color: #c0392b;
	border: 2px solid #000000;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
.linkic.trans i {
	color: #000000;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

/* end of linkic icon animation */

.seprosim {
	cursor: pointer;
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #2ecc71;
	text-align: center;
	transition: background 0.2s;
	border: 2px solid #2ecc71;
}
.seprosim i {
	font-size: 80px;
	position: relative;
	left: -7px;
	top: 7px;
	color: #c0392b;
	transition: color 0.2s;
}

/* seprosim icon rotation */
@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-ms-keyframes spinAround {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinAround {
    from {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
    	-webkit-transform: rotate(0deg);
    	-moz-transform: rotate(0deg);
    	-ms-transform: rotate(0deg);
    	-o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
    	-webkit-transform: rotate(360deg);
    	-moz-transform: rotate(360deg);
    	-ms-transform: rotate(360deg);
    	-o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.seprosim:hover {
	-webkit-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
	color: black;
	background: #c0392b;
	border: 2px solid #2ecc71;
	transition: background 0.2s;
}
.seprosim i:hover {
	color: #2ecc71;
	transition: color 0.2s;
}
/* end of seprosim icon rotation */
/* end of slide one */

/* slide two */

.slide.two {
	background-color: rgba(0, 0, 0, 0.9);
}

.slide.two.left .inner {
	width: 400px;
}

.slide.two.left h1 {
	font-size: 100px;
	color: #c2bb00;
	margin: 0;
	padding: 0;
	text-align: left;
}

.slide.two.left .info h2 {
	text-align: left;
	font-size: 50px;
	color: #c2bb00;
}
.slide.two.left .info p {
	font-size: 24px;
	color: #c2bb00;
	text-align: left;
}

.circlecontainer {
	padding-top: 5%;
	max-height: 100%;
}

.circle {
	cursor: pointer;
	border-radius: 50%;
	width: 40%;
	height: 0;
	padding-bottom: 40%;
}

.circle.control {
	z-index: 100;
	top: 10%;
	margin-left: 10%;
	background: url('../img/bg21.png');
}
.circle.control img {
	width: 90%;
	margin-top: 15%;
}

.circle.recycle {
	margin-left: 50%;
	margin-top: -20%;
	background: url('../img/bg22.png');
}
.circle.recycle img {
	width: 80%;
	margin-top: 20%;
}

.circle.cash {
	margin-left: 15%;
	margin-top: -15%;
	background: url('../img/bg23.png');
}
.circle.cash img {
	width: 80%;
	margin-top: 20%;
}

/* end of slide two */

/* slide three */

.slide.three {
	background-color: #ffa200;
}
.slide.three.left h1 {
	color: #00938e;
	text-shadow: 3px 3px 10px #845400;
	font-size: 100px;
	padding: 0;
	margin: 0;
}

/* end of slide three */

/* slide four */

.slide.four {
	background-color: #01a8ff;
}
.slide.four.left h1 {
	font-size: 100px;
	color: #ff9000;
	padding: 0;
	margin: 0;
	text-shadow: 3px 3px 10px #006294;
}

/* end of slide four*/

/* slide five */

.slide.five {
	background-color: #cd0145;	
}

/* end of slide five */
